.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.sticky {
  position: sticky;
}
.static {
  position: static;
}

.fixed {
  position: fixed;
}


.obj-fit-cover {
  object-fit: cover;
  object-position: center;
}

.left-shadow {
  left: 6.5rem;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.bottom-shadow {
  top: 8.15rem;
}

.top-box {
  top: 15.0rem;
}

.left-box {
  left: -5.50rem;
  
}

.left-illustration {
  left: -3.50rem;
}

.overflow-hidden {
  overflow: hidden;
}