.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.sticky {
  position: sticky;
}
.static {
  position: static;
}

.fixed {
  position: fixed;
}


.obj-fit-cover {
  object-fit: cover;
  object-position: center;
}

