@import "./flex.scss";

.w-full {
  width: 100%;
}
.w-auto {
  width: auto;
}

.container-max-w {
  max-width: var(--container-max-w);
}

.h-full {
  height: 100%;
}
.min-w-full {
  min-width: 100%;
}

.min-w-0 {
  min-width: 0;
}

.min-w-full {
  min-width: 100%;
}
.h-full-dvh {
  height: 100dvh;
}
.min-h-full {
  min-height: 100dvh;
}
